<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg %n</Pattern>
        </encoder>
    </appender>

    <!-- Send debug messages to a file at "Logs\logIQShop.log" -->
    <appender name="fileAppender" class="ru.SilirdCo.Lab6.Util.Logs.DateFileAppender">                                                                                                                                                                                                     <!--pidrila-->
        <file>Logs\logTemplateProject.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg %n</Pattern>
        </encoder>
    </appender>


    <logger name="ru.SilirdCo.Lab6" level="INFO" additivity="false">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </logger>

    <root>
        <level value="INFO" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </root>

</configuration>